.icon-label {
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .icon img {
    width: 20px;
    height: 20px;
    display: flex;   
  }
  
  .label {    
    font-size: 10px;
  }
  