.tile {
    padding: 4px;    
    border: none;
    border-radius: 10px;
    color: rgb(27, 27, 27); 
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .tile.free {
    background-color:#009900;
    color:#333333;    
  }
  
  .tile.occupied {
    background-color:#CCCC33;
    color:#333333;
  }
  
  .tile:disabled {
    cursor: not-allowed;
    opacity: 0.85;
  }

  /* .icon-main {
    width: 40px; 
    height: 40px;
  } */

  .div-layout-side {
    display: flex;    
    gap: 10px; 
    align-items: center;
    justify-content: space-around
  }

  .div-layout-top {
    display: flex;    
    gap: 10px; 
    align-items: center;
    padding-bottom: 16px;
  }

  .div-layout-bottom {
    display: flex;    
    justify-content: space-between; 
    align-items: center;
  }

  .div-layout-flow {
    display: flex;   
    gap: 10px;   
    padding-top: 8px;
  }
  
  