.App {
  text-align: left;
}

header {
  margin-bottom: 20px;
}

button.ui {
  background-color:#485848;
  color:wheat;
  outline:none
}

button.active {
  background-color: #4caf50;
  color: white;
  outline:none
}

button.action {
  background-color:#CCCC33;
  color:#333333;
  outline:none
}

